DATABASE_URL=
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=
ADMIN_EMAIL=
ADMIN_NAME=
ADMIN_PASSWORD=
REDIS_URL=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
RESEND_FROM_NAME=
NOTIFICATIONS_WORKER_CONCURRENCY=5
NOTIFICATIONS_WORKER_LIMIT_MAX=60
NOTIFICATIONS_WORKER_LIMIT_DURATION_MS=60000
VITE_APP_API_URL=
